[user]
	name = James MacAdie
	email = j.macadie@ttg.co.uk
[core]
	editor = nvim
	pager = delta
[color]
	status = auto
	branch = auto
[push]
	default = current
[alias]
	s = status
	l = log --pretty='format:%C(auto)%h %d %<|(120,trunc)%s %Cblue%aN, %ad' --date=format:'%a %Y-%m-%d %H:%I' --graph --date-order
	a = add -i
	aa = add .
	d = diff --word-diff-regex='\\w+|[^\\s]'
	ds = diff --staged
	dn = diff --stat
	c = commit
	sw = switch
	b = branch
	ps = push
	psf = push --force-with-lease
	pl = pull
	f = !git remote update origin --prune && git fetch --tags
	ff = merge --ff-only
	r = rebase
	ri = rebase --interactive
	rc = rebase --continue
	ra = rebase --abort
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	ld = log --patch
	logs = log --stat
	nuke = !git reset --hard && git clean -f -d
	unstage = reset HEAD --
	sync = reset --hard @{push}
[diff]
	colorMoved = default
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[merge]
	conflictstyle = zdiff3
[difftool]
	prompt = false
	trustExitCode = true
[init]
	defaultBranch = main
[delta]
	#https://dandavison.github.io/delta/introduction.html
	navigate = true
	line-numbers = true
	side-by-side = true
	features = nord
[interactive]
	diffFilter = delta --color-only
[pull]
	ff = only
[rebase]
	autosquash = true
	autostash = true
	updateRefs = true
[rerere]
	enabled = true
	autoupdate = true
[tag]
	sort = version:refname
[help]
	autocorrect = prompt
[commit]
	verbose = true
